body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

h1 {
  color: #66BFBF;
  font-family: 'Dancing Script', cursive;
  font-size: 562.5%;
  font-weight: bolder;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.middle-container {
  margin: 100px 0;
}

p {
  line-height: 2;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.skill-row {
  line-height: 2;
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%
}

.writing-img {
  float: left;
  clear: left;
  margin-right: 20px;
  width: 25%
}

.webdev-img {
  float: right;
  clear: right;
  margin-right: 20px;
  width: 25%
}

.profile {
  margin: auto;
  width: 30%
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-message {
  margin: 40px auto 60px;
  width: 40%
}

.btn {
  -moz-box-shadow: inset 0 1px 0 0 #bbdaf7;
  -webkit-box-shadow: inset 0 1px 0 0 #bbdaf7;
  box-shadow: inset 0 1px 0 0 #bbdaf7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
  background: -moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: -webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: -o-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: -ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5', GradientType=0);
  background-color: #79bbff;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 11px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #528ecc;
}

.Rienz-img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
